<!DOCTYPE html>
<html lang="en">
        {% include "header.html" %}
          <!-- Page Header-->
        <header class="masthead" style="background-image: url('../static/assets/img/about-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1 style="color: #FFEE58; font-size: 50px;">About Us</h1>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">

                        <div class="divspace">
                            <h4>About Stocklerts - A Portfolio Project:</h4>
                             <p> Stocklerts gets its name from the combination of "stock trading" and "news alerts,"
                                 a project brought to life by <a href="https://www.linkedin.com/in/nora-ben-haddou-b6679915a/">
                                 <b><i> Nora Ben Haddou</i></b></a>, an ALX Software Developer student.
                                 Here's a glimpse into what Stocklerts is all about:
                            </p>
                        </div>

                        <div class="divspace">
                             <h4>Project Overview:</h4>
                             <p> Stocklertsis more than just a website; it's my portfolio project aimed at tackling the challenge
                                of creating a DIY Terminal for individual traders. The project's core idea is to provide users with
                                a personalized platform, ensuring a tailored experience when accessing stock market information.
                              </p>
                        </div>

                        <div class="divspace">
                                <h4>Key Features:</h4>
                                <p> User-Customized Platform: Stocklerts allows users to customize their experience, tailoring
                                    the platform to their specific trading needs.</p>

                                <p> API Integration: To ensure that users receive timely and pertinent
                                    information for making informed trading decisions, the project integrates two APIs:
                                    <ol>
                                        <li> Alpha Vantage for market data </li>
                                        <li> News API for relevant news updates </li>
                                    </ol>
                                </p>

                                <p> DIY Terminal: Stocklert's approach is to create a DIY Terminal, providing users with
                                    a stock trading news alerts application. The goal is to empower users with daily
                                    market insights, similar to the functionalities of a Bloomberg Terminal.</p>
                        </div>

                        <div class="divspace">
                            <h4> Limitations:</h4>
                             <p> It's important to note that Stocklerts does not substitute professional financial advice,
                              stock market predictions, or comprehensive market analysis services. The project refrains
                              from providing buy/sell recommendations to users.</p>

                        </div>
                        <div class="divspace">
                            <h4> Get Involved: </h4>
                            <p> Stocklerts is an ongoing project, and I'm excited to continue refining and expanding its features.
                              If you have any feedback, suggestions, or would like to collaborate, feel free to reach out.
                              Let's make Stocklerts even better together!</p>
                             <p> Thank you for exploring Stocklerts, we appreciate your time and interest in exploring our
                                 content. Feel free to reach out if you have any questions or feedback.</p>
                        </div>

                    </div>
                </div>
            </div>
        </main>

        {% include "footer.html" %}

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
