<!DOCTYPE html>
<html lang="en">
    {% include "header.html" %}
    <!-- Page Header-->
    <header class="masthead" id="profileheader">
    </header>

         <div style="display: flex" class="container position-relative px-4 px-lg-5">
                    <img style="border-radius:50%; border: 3px solid gray; width: 220px; height: 200px;" src="../static/assets/img/monitoring.gif"></img>

                  {% if stocks %}
                            <h2 style="margin-left:40px; padding: 80px; 40px" class="post-title">Stock prices that you are following</h2>
                 {% else %}
                            <h2 style="margin-left:40px; padding: 80px; 40px" class="post-title">You are not following any stock price </h2>
                 {% endif %}
         </div>

    <!-- Main Content-->
    <div  style="padding: 0px 20px; background-image: url('../static/assets/img/profile-bg.jpg')" class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">

              <!--div style="margin-left: 40rem;" class="image-row">
                <img src="../static/assets/img/about-bg.jpg" style="width: 600px; height: 80px;">
              </div-->

            <!-------->
        <div style="margin-left: 40px; align-items: left" class="table-container">
                {% if stocks %}
                    <table class="table table-striped table-bordered table-hover table-sm">
                        <thead class="text-center">
                            <tr>
                                <th>Symbol</th>
                                <th>Company</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for stock in stocks %}
                                <tr>
                                    <td>{{ stock[1] }}</td>
                                    <td>{{ stock[2] }}</td>
                                    <td class="d-flex justify-content-center">
                                        <a href="{{ url_for('delete_stock', id=stock.id) }}" class="button delete-button">Remove</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>

            <div class="container">
                 <!-- messages flashed-->
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                <h6 style="color: red; margin-left:150px; padding: 0px 50px; font-family: 'Helvetica'">{{ message }}</h6>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                <form autocomplete="on" action="{{ url_for('profile', user_id=current_user.id) }}" method="post">
                    <div style="margin: 0px auto 40px 150px; padding: 10px 50px">
                        <input style="border: 2px solid rgb(158, 157, 157);" type="text" name="stock" placeholder="Stock symbol" required="required" />
                        <input style="margin:10px 0px; border: 2px solid rgb(158, 157, 157);" type="text" name="company" placeholder="Company name" required="required" />
                        <button type="submit" class="button" style="margin: 20px; padding: 6px 25px;">Add</button>
                    </div>
                </form>
            </div>
        </div>

    </div>

    {% include "footer.html" %}
</html>
